<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Add User</title></head>
<body>

      <h1>Welcome to EKS AI App</h1>
    <ul>
        <li><a href="/add">Add User</a></li>
        <li><a href="/list">List User</a></li>
        <li><a href="/weather/cities/view">Weather Cities</a></li>
    </ul>
  
  <h2>Add User</h2>
  <form th:action="@{/add}" th:object="${user}" method="post">
    <input type="text" th:field="*{name}" placeholder="Enter name"/>
    <button type="submit">Add</button>
  </form>
  <a href="/list">View Users</a>
</body>
</html>
