<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
</head>
<body>

          <h1>Welcome to EKS AI App</h1>
    <ul>
        <li><a href="/add">Add User</a></li>
        <li><a href="/list">List User</a></li>
        <li><a href="/weather/cities/view">Weather Cities</a></li>
    </ul>
    
    <h2>Add User</h2>
    <form action="/add" method="post">
        Name: <input type="text" name="name"><br>
        Email: <input type="email" name="email"><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>
