<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather Cities</title>
</head>
<body>

          <h1>Welcome to EKS AI App</h1>
    <ul>
        <li><a href="/add">Add User</a></li>
        <li><a href="/list">List User</a></li>
        <li><a href="/weather/cities/view">Weather Cities</a></li>
    </ul>
    
    <h2>Select a City</h2>
    <ul>
        <th:block th:each="city : ${cities}">
            <li>
            <a th:href="@{'/weather/view/' + ${city}}" th:text="${city}"></a>
            </li>

        </th:block>
    </ul>
</body>
</html>
